# ignore all pycache
__pycache__/
# ignore .vscode folder
.vscode/
# ignore just_in_case.py
transplantation/just_in_case.py
output.txt
transplantation/transplants_with_stride
ExperimentFourEvaluator.py
transplantation/outputs/
please_god.py
extracted_objects_ids.json
testing_transplantation_log.json
transplantation_ids.json
transplantation/outputs/extracted_objects_log.json
trial2.py
